@import '~material-design-icons/iconfont/material-icons.css';

@font-face {
  font-family: GloriaHallelujah;
  src: url('/assets/GloriaHallelujah.ttf') format('truetype');
}

* {
  font-family: 'GloriaHallelujah';
  padding: 0;
  margin: 0;
}

body {
  background: url('/assets/background.png') no-repeat center center fixed;
  background-size: cover;
}
